<div class="container">
    <div class="inner_container">
        <div class="left_container">
            <div class="left_upper_continer">
                <img src="../../../assets/img/book_cover.jpg" class="book_cover">
            </div>
            <div class="left_bottom_continer">
                <button id="add_button" (click)="addToCart(recivedbook)">ADD TO BAG</button>
                <button id="wishlist_button" (click)="addTOWishList(recivedbook)">WISHLIST</button>
            </div>
        </div>
        <div class="right_container">
            <div class="right_container_first">
                <h3>{{recivedbook.title}}</h3>
                <p id="author">{{recivedbook.author}}</p>
                <p id="price">Rs. {{recivedbook.price}}</p>
            </div>

            <div class="line">

            </div>

            <div class="description">
                <p id="static_book">Book details</p>
                <p id="static_book_details">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Accusamus corporis quia, maxime quibusdam est cupiditate, praesentium inventore placeat quae nesciunt velit mollitia a necessitatibus qui? Iusto quis quibusdam tempore facilis?
                </p>
            </div>

            <div class="line">

            </div>

            <div class="feedback">

            </div>
            

        </div>
    </div>
</div>
