<div class="container">
    <img src="../../../assets/img/orderPlaced.png">
    <p>
        hurry!!! ypur order is confirmed<br>
        the order id is #12345 save the order id for<br>
        further communication..
    </p>

    <table>
        <tr>
            <th>Email us</th>
            <th>Contact us</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>adminbookstore.com</td>
            <td>+91 8163475881</td>
            <td>42, 14th Main, 15th Cross, Sector 4, opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
        </tr>
    </table>

    <button (click)="redirect()">CHECKOUT</button>
</div>
